* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 2%;
}

table {
	border-collapse: collapse;
}

td,
th {
	padding: 3px;
}

td {
	border: 0.3px solid #cccccc;
}

th {
	background-color: #e5f6ff;
	border: 1px solid #000;
}
