* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 2%;
}

table {
	border-collapse: collapse;
	/* border-spacing: 0; */
	border-radius: 5px;
	border: hidden;
	overflow: hidden;
	box-shadow: 0 0 0 1px #e6e6e6;
}

td,
th {
	padding: 5px;
	border: 1.5px solid #e6e6e6;
}

th {
	background-color: #f0f4f9;
}

thead tr th {
	border-bottom: none !important;
}

tbody tr:first-child td {
	border-top: none !important;
}
